



/* 
_____________________________________________________

Custom styles for my bootstrap site
_____________________________________________________

*/

/* Body, container-fluid, jumbotron, scroll bar (anyClass) */

body, html {
  background-color: rgb(102, 98, 98);
}

.wrapper {
  max-width: 100%;
  
}


#content {
  max-width: 100%;
  margin-top: 18%;
  margin-left: 10%;
  margin-right: 20%;
  margin-bottom: 25%; 
}

.bgimage {
  background-color: rgb(51, 50, 53);
  width: 100%;
  border-radius: 0px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

/* Page header text */

.centered {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: rgb(247, 233, 250);
  filter: brightness(100%);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  z-index: 0;
}

.centered2 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: whitesmoke;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 0;
}

.centered3 {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
  z-index: 0;
}

.dkspan {
  display: block;
  width: 100%;
  height: 4%;
  padding: 5px;
  border: 0px;    
  background-color: rgb(46, 45, 45); 
  position: absolute;
  z-index: -1;
  margin-top: 12%;
}

.ltspan {
  display: block;
  width: 100%;
  height: 4%;
  padding: 5px;
  border: 0px;    
  position: absolute;
  z-index: 1;
  margin-top: 17%;
}

.card {
  width: 46rem;
  border-radius: 20px;
  margin: 0 auto;
  border-width: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  z-index: 2;
}

.card-body {
  background-color: rgb(228, 226, 226);
  height: 300px;
  width: 40rem;
  border-radius: 20px;
  margin-left: 40px;
  z-index: 3;
}

.card-content {
  width: 38rem;
  border-bottom: 20px;
  margin-bottom: 20px;
}

.card-title {
  text-align: center;
  font-size: 19px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(36, 35, 35);
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 1px;

}

hr {
  width: 550px;
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;

}

.card-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  text-align: center;
  background-color: rgb(245, 207, 105);
  color: rgb(53, 52, 52);
  opacity: 50%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 14px;
  z-index: 999;
  margin-top: 0%;
}

.card-image-left {
  width: 170px;
  height: 200px;
  margin-right: 12px;
  margin-left: 40px;
}

.card-img-port {
  margin-left: 50px;
  width: 215px;
  height: 160px;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 25px;
}

.lg-card {
  width: 60rem; 
  height: 450px;
  border-radius: 20px;
  margin: 0 auto;
  border-width: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  z-index: 2;
}

.lg-card-body {
  background-color: rgb(228, 226, 226);
  height: 300px;
  width: 40rem;
  border-radius: 20px;
  margin-left: 40px;
  z-index: 3;
}

.lg-card-content {
  width: 38rem;
  border-bottom: 20px;
  margin-bottom: 20px;
}

.lg-card-title {
  text-align: center;
  font-size: 19px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(36, 35, 35);
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 1px;

}


.lg-card-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  text-align: center;
  background-color: rgb(245, 207, 105);
  color: rgb(53, 52, 52);
  opacity: 50%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 14px;
  z-index: 999;
  margin-top: 0%;
}

.lg-card-img-port {
  margin-left: 50px;
  width: 215px;
  height: 160px;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 25px;
}

#lg-portimg {
  width: 210px; 
  height: 250px;
}


.column {
  margin-top: 10px;
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-left: 100px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.form-group {
  margin-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.form-control {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 4px;
}



#gallery {
  margin-top: 40%;
}

#table1 table, tr, td, th {
  border: 0;
}

#table1 tbody tr:nth-child(odd) {
  background-color: #A3B9D2; 
}

#table1 tbody tr:nth-child(even) {

}

form {
  width: 40%;
  height: 20%;

}

#contact-form {
  border-top: 20px;
  border-bottom: 20px;

}

#first {
  border-bottom:20px;
  margin-bottom: 15px;
  width: 400px;
}

#last {
  border-bottom:20px;
  margin-bottom: 15px;
  width: 400px;
}

#message {
  padding-top: 20px;
  width: 400px;

}


td {
  border: 0;
  margin-right: 40px;
}

h1 {
  font-size: 22px;
  color: rgb(36, 35, 35);
}

p {
  color: rgb(36, 35, 35);
  font-size: 13.5px;
  line-height: 1.6;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  background: rgb(36, 35, 35);
  text-align: center;
  color: rgb(117, 116, 116);
  font-size: 10pt;
  z-index: 999;
  margin-top: 80px;
}

/* navbar styles ; container-fluid is recommended
by bootstrap for elements with 100% width
*/

/* Add a black background color to the top navigation */

#padhome {
  margin-right: 80%;
}

.topnav {
    background-color: rgb(58, 56, 56);
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #b8b3b3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: #1d1c1c;
    text-transform: uppercase;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: rgb(241, 234, 234);
    color: #1d1c1c;
    text-transform: uppercase;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }


  /* Media queries to determine layout for screen width */


@media screen and (max-width: 980px) {

  .wrapper{
    width: 970px;
  }

  .topnav a.active {
    float: left;
    display: block;
    color: rgbrgb(51, 50, 53);
    text-decoration: none;
    font-size: 16px;
    background-color: rgb(241, 234, 234);
    text-align: center;
    padding: 17px 21px 17px 21px;;
    margin: 0% 40% 0% 10%;
    }

    
  .centered {
    position: absolute;
    top: 28%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 21px;
    color: rgb(247, 233, 250);
    filter: brightness(100%);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 20px;
    z-index: 0;
  }
  
  .centered2 {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 0;
  }
  
  .centered3 {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 8px;
    text-transform: uppercase;
    z-index: 0;
  }

}

@media screen and (max-width: 768px) {

  .wrapper{
    width: 758px;
    }
      
  .topnav a.active {
    float: left;
    display: block;
    color: rgb(51, 50, 53);
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(241, 234, 234);
    text-align: center;
    padding: 18px 22px 18px 22px;;
    margin: 0% 40% 0% 10%;
      
  }

  
  .centered {
    position: absolute;
    top: 32%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 19px;
    color: rgb(247, 233, 250);
    filter: brightness(100%);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 20px;
    z-index: 0;
  }
  
  .centered2 {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 0;
  }
  
  .centered3 {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 8px;
    text-transform: uppercase;
    z-index: 0;
  }

  .lg-card {
    width: 60rem; 
    height: 450px;
    border-radius: 20px;
    margin: 0 auto;
    border-width: 0px;
    margin-left: -22%;
    margin-top: 4%;
    z-index: 2;
  }
  
  .lg-card-body {
    background-color: rgb(228, 226, 226);
    height: 300px;
    width: 40rem;
    border-radius: 20px;
    margin-left: 0px;
    z-index: 3;
  }

  .lg-card-text {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 140px;
    text-align: center;
    background-color: rgb(245, 207, 105);
    color: rgb(53, 52, 52);
    opacity: 50%;
    padding-left: -5%;
    padding-top: 10px;
    padding-bottom: 14px;
    z-index: 3;
    margin-top: 0%;
    margin-left: -20%;
  }

  #lg-portimg {
    float: left;
    width: 140px; 
    height: 180px;
    margin-left: 20%;
    margin-right: 20%;

  }

}

@media screen and (max-width: 640px) {

  .wrapper{
      width: 640px;
  }

  .topnav a.active {
    float: left;
    display: block;
    color: rgb(51, 50, 53);
    text-decoration: none;
    font-size: 14px;
    background-color: rgb(241, 234, 234);
    text-align: center;
    padding: 7px 12px 7px 12px;
    margin: 0% 40% 0% 10%;
  }

  .centered {
    position: absolute;
    top: 28%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: rgb(247, 233, 250);
    filter: brightness(100%);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 20px;
    z-index: 0;
  }
  
  .centered2 {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: whitesmoke;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 0;
  }
  
  .centered3 {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 8px;
    text-transform: uppercase;
    z-index: 0;
  }

  .card {
    width: 46rem;
    border-radius: 20px;
    margin: 0 auto;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    z-index: 2;
  }
  
  .card-body {
    background-color: rgb(228, 226, 226);
    height: 350px;
    width: 40rem;
    border-radius: 20px;
    margin-left: -1%;
    z-index: 3;
    margin-bottom:80px;
  }
  
  .card-content {
    width: 38rem;
    border-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .card-title {
    text-align: center;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(36, 35, 35);
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 1px;
  
  }
  
  hr {
    width: 550px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
    font-size: 10pt;
    margin-right: 90px;
  
  }
  
  .card-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    text-align: center;
    background-color: rgb(245, 207, 105);
    color: rgb(53, 52, 52);
    opacity: 50%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 14px;
    z-index: 999;
    margin-top: 0%;
  }
  
  .card-image-left {
    width: 150px;
    height: 180px;
    margin-right: 12px;
    margin-left: 40px;
  }
  
  .card-img-port {
    margin-left: 50px;
    width: 215px;
    height: 160px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
  }
  
  .lg-card {
    width: 60rem; 
    height: 450px;
    border-radius: 20px;
    margin: 0 auto;
    border-width: 0px;
    margin-left: -37%;
    margin-top: 4%;
    z-index: 2;
  }
  
  .lg-card-body {
    background-color: rgb(228, 226, 226);
    height: 300px;
    width: 40rem;
    border-radius: 20px;
    margin-left: 0px;
    z-index: 3;
  }

  .lg-card-text {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 140px;
    height: 10px;
    text-align: center;
    background-color: rgb(245, 207, 105);
    color: rgb(53, 52, 52);
    opacity: 50%;
    padding-left: 0%;
    padding-top: 10px;
    padding-bottom: 14px;
    z-index: 3;
    margin-top: 0%;
    margin-left: 0%;
  }

  #lg-portimg {
    float: left;
    width: 140px; 
    height: 180px;
    margin-left: 20%;
    margin-right: 200%;

  }
  
}



